/* Add your custom CSS styles here */

.bg-purple {
    background-color: #6a0dad !important; /* Purple background color */
}

.text-white {
    color: #fff !important; /* White text color */
}

.card-header, .card-footer {
    border-radius: 20px;
}

.card-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    padding: 20px;
}

.card-footer {
    padding: 20px;
}

.btn-primary {
    background-color: #6a0dad; /* Purple color */
    border-color: #6a0dad; /* Purple border color */
}

.btn-primary:hover {
    background-color: #4e0678; /* Darker purple hover color */
    border-color: #4e0678; /* Darker purple hover border color */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 50%;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}
