body {
    background-color: #f7f9fc;
}

.card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-label {
    font-weight: bold;
}

input {
    border-radius: 10px;
    transition: border 0.3s ease;
}

input:focus {
    border: 2px solid #6a0dad;
    box-shadow: 0 0 5px rgba(106, 13, 173, 0.5);
}
