



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 0.9 !important; /* Allow the main content to grow to fill the remaining space */
}

.footer {
    background-color: #1a0c2c; /* Dark background color */
    color: #fff; /* Text color */
    padding: 30px 0; /* Padding for content */
    width: 100%;
    position: relative; /* Position relative to its container */
    margin-top: auto; /* Push the footer to the bottom */
}



@media (max-height: 100vh) {
    body {
        position: relative; /* Ensure body stays in normal flow */
    }

    .footer {
        position: absolute; /* Position absolutely to the bottom */
        top: 100%; /* Position the footer at the bottom */
        margin-top: auto;
    }
}


.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-logo {
    flex: 1;
}

.footer-logo-link {
    color: #fff; /* Logo text color */
    text-decoration: none;
    font-size: 20px;
}

.footer-links {
    flex: 2;
    text-align: center;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu a {
    color: #fff; /* Menu link text color */
    text-decoration: none;
}

.footer-social {
    flex: 1;
    text-align: right;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #fff; /* Social icon color */
    text-decoration: none;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-links {
        margin-top: 20px;
        text-align: center;
    }
    
    .footer-social {
        margin-top: 20px;
        text-align: center;
    }
    
    
    .footer {
        margin-top: 40px; /* Increase margin for smaller screens */
    }

}
