body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #6a0dad; /* Sidebar background color */
    color: white; /* Font color for all sidebar text */
    transition: all 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar.closed {
    left: -250px;
}

.sidebar-content-container {
    height: 100%;
    overflow-y: auto;
}

.sidebar-content {
    padding: 20px;
}

.default-profile-picture {
    font-size: 60px; /* Adjust the font size as needed */
    width: 100px; /* Adjust the width and height to match the desired size */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ccc; /* Light gray background color */
    color: #fff; /* White icon color */
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h3, .profile p {
    margin: 0;
    color: #ddd; /* Lighter text color for better readability */
}

.menu-item a {
    display: flex;
    align-items: center;
    color: #ddd; /* Font color for menu items */
    text-decoration: none;
    padding: 10px 15px; /* More padding for better click area */
    border-radius: 4px; /* Rounded corners for a modern look */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.menu-item a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Lighter overlay on hover */
    color: #ffffff; /* Ensure text color is white for better contrast on hover */
}

.menu-icon {
    width: 20px;
    margin-right: 10px;
}

.sidebar-toggle {
    position: fixed;
    top: 5px;
    border-radius: 15%;
    left: 5px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    
    background-color: #A64EDD ; /* Sidebar toggle background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1001;
}

.sidebar-toggle:hover {
   background-color: #6a0dad; /* Darker shade for toggle hover */
}

.menu-item.active a {
    background-color: rgba(255, 255, 255, 0.3); /* Subtle light overlay for active items */
    color: #ffffff; /* Ensure active text color is white for contrast */
    font-weight: bold; /* Make active item more prominent */
}

@media (min-width: 769px) {
    .sidebar-toggle {
        width: 70px;
        height: 70px;
        font-size: 40px;
    }
}
